// This file should ideally be maintained outside of module in Atlas Shell. Keeping it here for now,
// as I am not sure how it would be considered for RI.

/* Shell Color Palette */
$charcoalColor: #343A41;
$darkCharColor: #2C3137;
$darkCloudColor: #B5B7B9;
$darkGreenColor: #498205;
$darkSlateColor: #48525E;
$atlasGreenColor: #6BB700;
$lightCanvasColor: #F2F2F2;
$grayColor: #808387;
$grayLightColor: #ABADAF;
$blueColor: #00BCF2;
$darkBlueColor: #0099BC;
$cloudColor: #D2D4D8;
$canvasColor: #E6E6E6;
$darkGray: #585A5F;
$darkCloud: rgb(189,191,194);
$atlasDarkTeal: #008272;
$atlasTeal: #00B294;
$slateColor: #55606E;
$redColor: #D13438;
$lightestGrayColor: #D5D6D7;
$whiteColor: #FFFFFF;
$yellowColor: #EAA300;

$bgColor: rgb(140,198,63);

$atlasDarkCloudColor10PercentDarker: #9C9EA0;
$atlasLightCanvasColor10percentDarker: #D9D9D9;

/* Shell Fonts */
$regularFont: 'Segoe UI';
$boldFont: 'Segoe UI Semibold';

/* Shell Mixins */
@mixin svg-icon-styles($color){
    color: $color;
    & .svg-fill{
        fill: $color;
    }

    & .svg-stroke{
        stroke: $color;
    }
}
