div(class="dataconnect-rightpanel-container")
  h4 Properties
  ul(class="dataconnect-resource-properties", data-bind="foreach: properties")
    li
      label(data-bind="text: name")
      p(data-bind="text: value")
