.adf-gateway {
    z-index: 201; // to be greater than that of powercopytool

    .modal-content {
        width: 390px;
        margin: 0;
    }

    .wizard-header {
        color: #888;
        display: block;
        font-size: 0.8em;
        font-weight: 400;
        margin-bottom: 9px;
        text-transform: uppercase;
    }

    .wizard-subheader {
        color: #000;
        display: block;
        font-size: 1.4em;
        margin-bottom: 9px;
    }

    .wizard-description {
        display: block;
        font-size: 1em;
    }

    .key {
        padding: 20px 0 20px 0;
    }

    .adf-statusImage {
        margin-right: 8px;
        padding-top: 1px;

        svg {
            height: 13px;
            width: 13px;
        }
    }

    .buttonContainer {
        padding-top: 8px;
        display: flex;
        &.end {
            justify-content: flex-end;
            padding-top: 10px;
        }
        &.middle {
            justify-content: space-between;
            align-items: center;
        }
    }
}