<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SolutionTemplateName" value="rskumartestapp"/>
    
    <!-- For AAD login in PROD environment -->
    <add key="ActiveDirectoryEndpoint" value="https://login.windows.net/" />
    <add key="ActiveDirectoryTenantId" value="common" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <add key="ClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />

    <!-- For AAD login in PPE environment -->
    <!--<add key="ActiveDirectoryEndpoint" value="https://login.windows-ppe.net/" />
    <add key="ActiveDirectoryTenantId" value="83abe5cd-bcc3-441a-bd86-e6a75360cecc" />
    <add key="WindowsManagementUri" value="https://management.core.windows.net/" />
    <add key="ClientId" value="1950a258-227b-4e31-a9cf-717495945fc2" />
    <add key="RedirectUri" value="urn:ietf:wg:oauth:2.0:oob" />-->

    <!-- User settings for PROD -->
    <add key="SubscriptionId" value="c1449fa2-60de-4764-a964-9d7dac544998" />
    <add key="Location" value="South Central US"/>
    <add key="StorageAccountName" value="mlapiclienttestapp"/>
    <add key="StorageAccountKey" value="+JDT4zZI0ZN9h7Jz/jPmthO6pDcsd3x4CibepC4+CuhD8JWtEqbKyERrypK/IBhbhg8QvEii90IddOz/ll79aA=="/>
    <add key="UserEmail" value="rskumar@microsoft.com"/>
    <add key="UserPuid" value="10033FFF8006C5FD"/>
    <add key="StudioApiUri" value="https://studioapi.azureml.net/"/>
    <add key="AzuremlManagementUri" value="https://management.azureml.net/"/>

    <!-- User settings for PPE -->
    <!--<add key="SubscriptionId" value="476f00ec-d5b4-41d2-b500-01358334bd8a" />  --><!--auxtm477Dogfood181--><!--
    <add key="Location" value="South Central US"/>
    <add key="StorageAccountName" value="mlapiclienttestapp"/>  --><!--This is a PROD storage account. Limitation of ML workspace creation that this has to be a 'real' storage account.--><!-- 
    <add key="StorageAccountKey" value="+JDT4zZI0ZN9h7Jz/jPmthO6pDcsd3x4CibepC4+CuhD8JWtEqbKyERrypK/IBhbhg8QvEii90IddOz/ll79aA=="/>
    <add key="UserEmail" value="auxtm477@live.com"/>
    <add key="UserPuid" value="00037FFEC74D8FC0@Live.com"/>
    <add key="StudioApiUri" value="https://studioapi.azureml-int.net/"/>
    <add key="AzuremlManagementUri" value="https://management.azureml-int.net/"/>-->

    <!-- Connected Car solution template experiments -->
    <add key="TrainingExperimentPackageLocation" value="https://storage.azureml.net/directories/65c556c0a44b445b8353336e39f09aa6/items"/> <!--Connected Cars AML-V2-NoReader-->
    <add key="TrainingExperimentCommunityUri" value=""/>
    <add key="ScoringExperimentPackageLocation" value="https://storage.azureml.net/directories/3a3b81a0ddb84b0fa00a87dc26e3fd83/items"/> <!--Connected Cars AML-V2-NoReader [Scoring Exp.]-->
    <add key="ScoringExperimentCommunityUri" value=""/>

    <!-- Predicitve Maintenance solution template experiments -->
    <!--<add key="TrainingExperimentPackageLocation" value="https://storage.azureml.net/directories/1a2f4bdffa1a45b9bb0b2b8e8d5241a4/items"/>
    <add key="TrainingExperimentCommunityUri" value="http://gallery.azureml.net/Details/5243057fede64fbcb6ce2162617ca1c6"/>
    <add key="ScoringExperimentPackageLocation" value="https://storage.azureml.net/directories/2844cf4c214f4d8aa7371b6482231c77/items"/>
    <add key="ScoringExperimentCommunityUri" value="http://gallery.azureml.net/Details/b0685ab111d84a399c3b5d8cd336a6eb"/>-->

    <!-- Demand Forecasting solution template experiments -->
    <!--<add key="TrainingExperimentPackageLocation" value=""/>
    <add key="TrainingExperimentCommunityUri" value=""/>
    <add key="ScoringExperimentPackageLocation" value="https://storage.azureml.net/directories/c8bde5940b3b4c8cba4267ff29ed2173/items"/>
    <add key="ScoringExperimentCommunityUri" value="http://gallery.azureml.net/Details/63f7044bb8f5478fbc3903db66bbe141"/>-->
  </appSettings>
</configuration>