@import "../../../styles/variables";

$container-margin: 100px;
$content-width: 1023px;
$facet-width:($content-width/3);

#home-browse-list {

    .facet-wrapper {
        width: $content-width;
        margin: auto;

        .facet-container {
            padding-top: 40px;
            overflow: hidden;
            text-align: left;

            .facet-list-container {
                width: 317px;
                margin-right: 18px;
                padding-left: 20px;
                float: left;
                bottom: 0;
            }
        }
    }
    
    @mixin theme {
        $light-border: $default-med-border;

        & {
            .facet-list-container {
                border-right: 1px solid $light-border;

                &:nth-child(3n) {
                    border: none;
                }
            }
        }
    }

    @include theme;
}