@import "../../../styles/mixins";
@import "../../../styles/variables";

#browse-documentation {
    @include absolute(20px, 0, 0, 0);

    #browse-documentation-container {
        @include absolute();
        overflow: auto;

        #browse-documentation-contents {
            position: absolute;
            top: 20px;
            left: 30px;
            right: 30px;
            padding-bottom: 30px;

            .tokyo-spinner {
                position: absolute;
                bottom: 100%;
                right: 5px;
                margin-bottom: 1px;
            }

            .doc-label {
                color: #8A96A2;
                font-size: 12px;
                text-transform: capitalize;

                &.lower {
                    text-transform: lowercase;
                }

                &.from:after {
                    content: ":";
                }
            }

            .other-documentation-box {
                border: 1px solid #c9c9c9;
                padding: 5px 10px;
                margin-top: 10px;
            }

            .k-editable-area {
                padding-left: 5px;
            }
        }
    }
}