@import "../../../../stylesheets/_AdfSpecific.scss";

$buttonDim: 20px;
$svgDim: 16px;

.graphNode {
    & + .adornments {
        .nodeToolbar {
            @include adf-darkIconToolbar();

            .toolbarContainer.win-toolbar {
                height: 100%;
                min-width: 100%;

                background-color: transparent;

                button.win-command {
                    @include adf-button-dims($buttonDim, $buttonDim);
                    margin-right: 8px;
                }

                svg {
                    @include adf-button-dims($svgDim, $svgDim);
                }
            }
        }
    }
}

.node.selected > .adornments {
    .nodeToolbar {
        @include adf-lightIconToolbar();
    }
}
