<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="GalleryEndpoint" value="https://gallery.cortanaanalytics-int.com/?newazureml=1" />
    <!--<add key="DataServiceEndpoint" value="https://localhost:444/api/" />-->
    <add key="DataServiceEndpoint" value="https://atlasstudioapi.cortanaanalytics-test.com/api/" />
    <add key="EnvironmentType" value="DEV" />
    <add key="Microsoft.DataStudio.Services.Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="Microsoft.DataStudio.Services.Audience" value="https://management.core.windows.net/" />
    <add key="Microsoft.DataStudio.Services.LoginEndpoint" value="https://login.windows.net/" />
    <add key="Microsoft.DataStudio.Services.FederationMetadataVersion" value="2007-06" />
    <add key="Microsoft.Diagnostics.EnableMdsTracing" value="True" />
    <add key="Microsoft.Diagnostics.LogLevel" value="All" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <rewrite>
      <rules>
          <!--The HTTP redirect rule should not be disabled. We should only allow the site to operate over HTTPS-->
          <rule name="HTTP redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
