a(href="#dataconnect/new")
  .row(data-bind="component: { name: 'uxshell-labelButton', params: { componentConfig: componentConfig }}")
  div(class="separator row collapsable")
  div(class="row gutter2x2")
