<div class="wizardStepTitle">
    Schema mapping
</div>
<div class="wizardStepSubtitle">
    Choose how source and destination columns are mapped
</div>


<div class="mappedTablesContainer">
    <!-- ko foreach: destinationTableViewModels -->
    <div data-bind="css:{selectedForColumnMapping:selectedForColumnMapping},event:{click:$parent.selectForColumnMapping.bind($parent)}" class="singleMappingContainer">
        <div class="columnMappingWarningLine" data-bind="visible: columnMappingWarning"></div>
        <div class="sorceDestTextContainer">
            <div class="sourceDestKey">Source:</div>
            <div class="sourceDestValue source" data-bind="text: inputTable.sqlTableName"></div>
        </div>
        <div class="sorceDestTextContainer">
            <div class="sourceDestKey">Destination:</div>
            <div class="sourceDestValue destination" data-bind="text: selectedTable"></div>
        </div>
    </div>
    <!-- /ko -->
</div>
<div style="overflow: hidden" class="columnMappingAndIdempotencyContainer verticalFlex">

    <div class="columnMappingContainer verticallyResizableSubordinant">
        <div class="columnMappingHeaderContainer">
            <div class="columnMappingHeader source" data-bind="text: columnMappingViewModel().inputTable.sqlTableName">Source</div>
            <div class="columnMappingHeader destination" data-bind="text: columnMappingViewModel().existingTable.value"></div>
            <div class="columnMappingHeader">Include this column</div>
        </div>

        <!-- ko with: columnMappingViewModel -->
        <div data-bind="visible:loadingColumnMappings">Loading. . .</div>
        <!-- ko foreach: columnMappings -->
        <div class="mapping">
            <div class="columnMappingWarningLine" data-bind="visible: warning"></div>
            <div class="selectContainer">
                <select data-bind="options: $parent.sourceOptions, optionsText:'displayText',optionsValue:'value',value: sourceColumnName,enable:copy" style="width:100%"></select>
            </div>
            <div class="columnMappingArrow"></div>
            <div class="destinationColumn">
                <span data-bind="text:destinationColumnDisplayText"></span>
                <span style="color:red" data-bind="visible:!destinationColumn.allowNull">required</span>
            </div>
            <div class="checkboxContainer">
                <input type="checkbox" data-bind="checked:copy,enable:destinationColumn.allowNull" />
            </div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>

    <div class="sinkSettingsSection verticallyResizableMasterIdempotency" data-bind="splitter:{location:'top',key: 'sinksettingsSplitter' }">

        <!-- ko if: !columnMappingViewModel().isAzureTable() -->
        <div style="clear:both">
        </div>
        <div class="sectionTitle" style="float:left">
            Repeatability settings
        </div>
        <div class="infoDiv" data-bind="callout: { innerHtml: 'Repeatability is needed to prevent data duplication during copy operation.' }"></div>
        <div style="clear:both">
        </div>


        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm: columnMappingViewModel().idempotencyMethod}}">
        </div>

        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm: columnMappingViewModel().idempotencyBinaryColumnSelect}},visible:columnMappingViewModel().idempotencyMethod.value() === columnMappingViewModel().idempotencyMethodConstants.column">
        </div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm: columnMappingViewModel().idempotencyDateColumnSelect}},visible:columnMappingViewModel().idempotencyMethod.value() === columnMappingViewModel().idempotencyMethodConstants.script">
        </div>
        <!--<div data-bind="text:autoselectedDateTimeColumnMessage,visible:idempotencyMethod.value() === idempotencyMethodConstants.script"></div>-->

        <div data-bind="visible:columnMappingViewModel().idempotencyMethod.value() === columnMappingViewModel().idempotencyMethodConstants.script">
            <div class="formFieldLabel">
                Autogenerated script
            </div>
            <div>
                <textarea disabled="disabled" data-bind="value:columnMappingViewModel().generatedCleanupScript" rows="7"></textarea>
            </div>
        </div>
        <div data-bind="visible:columnMappingViewModel().idempotencyMethod.value() === columnMappingViewModel().idempotencyMethodConstants.customScript">
            <div class="formFieldLabel">
                Custom script
            </div>
            <div>
                <textarea data-bind="value:columnMappingViewModel().customCleanupScript" rows="7"></textarea>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: columnMappingViewModel().isAzureTable -->
        <div class="sectionTitle">
            Azure table destination properties
        </div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.insertType}}"></div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.partitionValueSelection}}"></div>
        <div data-bind="component:{name:'datafactory-validatedtextbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.defaultPartitionValue}}"></div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.partitionKeyColumn}}"></div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.rowKeyValueSelection}}"></div>
        <div data-bind="component:{name:'datafactory-validatedselectbox',params:{vm:columnMappingViewModel().azureTableSyncViewModel.rowKeyColumn}}"></div>
        <!-- /ko -->
    </div>

</div>


