<!DOCTYPE html>
<html ng-app="uvo">
	{{> head }}
	<body ng-strict-di ng-init="pageStatus = ''" ng-class="pageStatus">

		{{! content }}
		<div style="height:100%" ui-view></div>

		{{> scripts }}
	</body>
</html>
