<?xml version="1.0"?>

<!--
  This file required for Visual Studio debugging experience.
  It doesn't get published as part of the module artifacts.
-->

<configuration>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
