ul.day-picker-list { list-style:none;
	li { display:inline-block; font-size:11px;
		span { display:inline-block; 
			   border:1px solid $kia-gray-light; 
			   border-top:3px solid $kia-gray-light; 
			   width:30px; height:22px;
			   text-align:center;
			   line-height:22px;
			   cursor:pointer;
			   margin-right: 6px;

			   @media (max-width:$screen-xs-max) { width:36px; height:34px; line-height:34px; margin-right:5px; }
			}
		&.selected { 
			span { border:1px solid $kia-red; border-top:3px solid $kia-red; }
		}
	}
}

day-picker[read-only="true"] ul.day-picker-list li span { cursor:default !important; }