$kia-blue: #448CCB !default;
$kia-red: #C4172C !default;
$kia-gray-dark: #444 !default;
$kia-gray-light: #A2A2A2 !default;
$kia-dark-gray: #2F2F2F !default;
$kia-mid-gray: #585858 !default;
$kia-light-gray: #777 !default;
$kia-lighter-gray: #DDD !default;
$designk-light: designk-light,'Helvetica Neue', Helvetica, Arial, sans-serif;
$designk-medium: designk-medium,'Helvetica Neue', Helvetica, Arial, sans-serif;
$designk-bold: designk-bold,'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-wrapper-width:960px;
