<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file required for Visual Studio debugging experience.
  It doesn't get published as part of the module artifacts.
-->

<configuration>
  <appSettings>
    <add key="GalleryEndpoint" value="https://gallery.cortanaanalytics-int.com/?newazureml=1" />
    <!--<add key="DataServiceEndpoint" value="http://localhost:5329/api/" />-->
    <add key="DataServiceEndpoint" value="https://AtlasMainAPITest.cloudapp.net/api/" />
    <add key="TokenServiceEndpoint" value="This is to be set in the cloud configuration xml" />
    <add key="EnvironmentType" value="DEV" />
    <add key="Microsoft.DataStudio.Services.Tenant" value="72f988bf-86f1-41af-91ab-2d7cd011db47" />
    <add key="Microsoft.DataStudio.Services.Audience" value="https://management.core.windows.net/" />
    <add key="Microsoft.DataStudio.Services.LoginEndpoint" value="https://login.windows.net/" />
    <add key="Microsoft.DataStudio.Services.FederationMetadataVersion" value="2007-06" />
    <add key="Microsoft.Diagnostics.EnableMdsTracing" value="True" />
    <add key="Microsoft.Diagnostics.LogLevel" value="All" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>
