<div class="header-close-wrapper">
	<div class="header-close pull-right" ng-click="$dismiss()">
		<img src="images/kh/img/icons/icons-aaaaaa/close-x.png" alt="x"/>
	</div>
	<div class="clearfix"></div>
</div>
<div class="modal-body"> 
   <p class="warning-body">Your selected trips contain both Business and Personal. Please make a selection below to convert these trips.</p> 
   <div class="confirm-buttons"> 
   <div class="button cancel" ng-click="$close(0)"><span>PERSONAL</span></div> 
   <div class="button cancel" ng-click="$close(1)"><span>BUSINESS</span></div> 
</div>