<footer id="footer">
  <div class="footer-wrapper">
    <div class="container-fluid">
        <span class="footer-span hidden-xs">
            {{# footer-data }}
            <a href="{{href}}" target="_blank" class="footer-block hidden-xs">{{ label }}</a>
            {{/ footer-data }}
        </span>
        <div class="ac-footer">
            <span>2015 Kia Inc. All Rights Reserved.</span>
            <a href="http://info.evidon.com/pub_info/826?v=1&amp;nt=1&amp;nw=false" class="ac-link" title="Ad Choices" target="_blank">
                <img alt="Ad Choices" src="images/ac-logo.png">
            </a>

        </div>
    </div>
  </div>
</footer>
