<div data-bind='pcGraphNodeContent:null, css:{"adf-highlighted": highlighted}' style='padding:0px'>
    <div data-bind='text:activityName, attr: {title: activityName}' style='white-space:nowrap;height:16px;position:absolute;left:6px;right:6px;top:14px;overflow:hidden' class='msportalfx-text-small msportalfx-text-ellipsis'></div>
</div>
<div style='position:absolute;right:30px;bottom:8px' class='msportalfx-text-ellipsis msportalfx-text-subheader adf-text-subheader' data-bind='text:activityType'></div>
<div data-bind='image:icon, css: activityIconState' style='position:absolute;height:20px;width:20px;right:6px;bottom:6px;'></div>
<div data-bind="graphNodeStatus: graphNodeStatus" style="position: absolute; top: 0; left: 0; right: 0; height: 11px;" class="col"></div>
