<div data-bind='pcGraphNodeContent:null, css:{"adf-highlighted": highlighted}'>
    <div data-bind='text:artifactName, attr: {title: artifactName}' style='height: 14px; position: absolute; left: 6px; right: 6px; top: 14px; overflow: hidden; white-space: nowrap' class='msportalfx-text-small msportalfx-text-ellipsis'>
    </div>
</div>
<div style='position: absolute; right: 30px; bottom: 8px; width: 100px' class='msportalfx-text-ellipsis msportalfx-text-subheader adf-text-subheader' data-bind='text:typeString'></div>
<div style='position: absolute; height: 19px; width: 20px; right: 6px; bottom: 6px' data-bind='image:icon'></div>
<div style='position: absolute; left: 6px; bottom: 8px; width: 85px' class='msportalfx-text-ellipsis msportalfx-text-subheader adf-text-subheader' data-bind='html:frequencyString'></div>
<div data-bind="graphNodeStatus: graphNodeStatus" style="position: absolute; top: 0; left: 0; right: 0; height: 11px;" class="col"></div>
