<style>
.modal-dialog{
margin-top: 0px!important;	
}
</style>
<div class="modal-body">
	<div class="text-left">
		<h4 class="modal-title">MY CAR ZONE PIN</h4>
		<br/>
		<p>The PIN for this vehicle is:</p>
		<strong class="pin-num">{{vm.modalPin}}</strong>
		<p><strong>Why is this important?</strong></p>
		<p style="font-size:13px;padding-top:8px;">Your PIN is important for setting and editing your My Car Zone alerts.</p>
	</div>
	<div class="button button-center" ng-click="$close()">OK</div>
</div>