div(class="dataconnect-rightpanel-container")
    h4 Properties
    div(class="dataconnect-resource-properties" data-bind="foreach: properties")
        label(data-bind="text: name")
        p(data-bind="text: value")