.machineLearningEditor {
  background-color: #f7f7f7;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;

  a span, a div {
    color: initial
  }

  .header {
    h1 {
      font-size: 3em;
      font-weight: 200; /* Light */
    }
    padding-bottom: 2em;
  }

  .content {
    > .col {
      margin-right: 2em;

    }
  }

  .content.row > .col {
    padding-right: 2em;
  }

}
