@import "../../../styles/mixins";
@import "../../../styles/variables";

#browse-list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;

    .loading-indicator {
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -121px;
    }

    #browse-list-container {
        width: 100%;
        float: left;

        table {
            min-width: 100%;

            tr {
                cursor: default;
            }

            thead {
                th {
                    padding: 5px;

                    &:first-child { //checkmark column
                        border-left: 0;
                        padding: 10px; 
                        width: 10px;
                    }

                    span {
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 12px;
                        white-space: nowrap;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 5px;

                        &:first-child {
                            padding: 10px; //checkmark column
                        }

                        div, span {
                            white-space: nowrap;
                            font-size: 12px;
                        }

                        .delete-info {
                            display: none;
                        }

                        .checkmark {
                            visibility: hidden;
                        }

                        .list-pin {
                            width: 16px;
                            height: 16px;
                            cursor:pointer;
                        }

                        .name,
                        .tags,
                        .desc {
                            display: block;
                            overflow: hidden;
                            @include text-overflow(ellipsis);

                            &.name {
                                max-width: 150px;
                            }

                            &.tags {
                                max-width: 150px;
                            }

                            &.desc {
                                max-width: 200px;
                            }
                        }

                        .data-source-type,
                        .data-object-type {
                            text-transform: capitalize;
                        }

                        .data-object-type-image,
                        .data-source-type-image {
                            @include opacity(.5);
                        }
                    }

                    &.selected {
                        .checkmark {
                            visibility: visible;
                        }
                    }

                    &.deleted td {
                        @include opacity(.3);
                        background-color: transparent;

                        .delete-info {
                            display: inline;
                        }

                        .checkmark {
                            display: none;
                        }

                        &:first-child { //checkmark column
                            @include opacity(1);
                        }
                    }

                }
            }

            a {
                cursor: pointer;
                font-size: 12px;
            }
        }
    }

    .heading {
        display: block;
        margin: 0 0 40px 15px;
        font-size: 15px;

        .results-data {
            position: relative;
            top: -6px;

            .spacer {
                border-left: 1px solid #474f5a;
                padding-left: 20px;
                margin-left: 20px;
                display: inline-block;
                position: relative;
                height: 24px;
                top: 6px;
            }

            .select-all {
                text-transform: capitalize;
                cursor: pointer;
                @include non-selectable();

                .select-all-text {
                    margin-left: 10px;
                }

                .outline {
                    margin: 0;
                    padding: 0;
                    height: 15px;
                    width: 15px;
                    border: 1px solid #474f5a;
                    position: relative;
                    top: 2px;
                    display: inline-block;

                    img {
                        position: absolute;
                        top: -1px;
                        left: -1px;
                    }
                }
            }
        }
    }

    .paging-container {
        float: right;
        margin-right: 20px;

        &.top {
            position: relative;
            top: -3px;
        }

        &.bottom {
            margin-top: 20px;
        }
    }


    //define theme mixin for various colors
    @mixin theme {
        $body-color: $default-body-color;
        $selected-tile: $default-selected-tile;
        $body-color-light: $default-body-color-light;
        $light-font-color: $default-light-font-color;
        $light-gray: $default-light-gray;
        $lighter-gray: $default-lighter-gray;
        $input-text-color: $default-input-text-color;
        $light-border: $default-light-border;
        $input-outline: $default-input-outline;
        $hint-text-color: $default-hint-text-color;
        $header-color: $default-header-color;

        & {
            .heading {
                color: $input-text-color;
            }

            table {
                th {
                    background-color: $lighter-gray;
                    border-left: 1px solid $body-color;
                }

                tbody tr {
                    border-bottom: 1px solid rgba($header-color, .1);
                    background-color: $body-color-light;

                    &:hover {
                        background-color: rgba($header-color, .1);
                    }

                    &.selected {
                        background-color: rgba($header-color, .25);
                    }
                }
            }
        }
    }

    //use themes
    @include theme;
}

#browse-list-no-results {
    div {
        margin: 5px 0;

        .clear-button{
            display: inline-block;
            font-size: 15px;
            text-transform: uppercase;
            padding: 5px 20px;
            cursor: pointer;
        }
    }


    @mixin theme {
        $home-tile-background: $default-home-tile-background;
        $navigation-text-color: $default-navigation-text-color;

        & {
            .clear-button {
                background-color: $home-tile-background;
                color: $navigation-text-color;
            }
        }
    }

    //use themes
    @include theme;
}