.msportalfx-layoutChildren-horizontal-inlineblock {
  white-space: nowrap;
  line-height: 0;
  font-size: 0;
}
.msportalfx-layoutChildren-horizontal-inlineblock > .msportalfx-layoutChildren-child {
  display: inline-block;
  box-sizing: border-box;
  white-space: normal;
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  line-height: normal;
}
.msportalfx-layoutChildren-horizontal-float > .msportalfx-layoutChildren-child {
  float: left;
  box-sizing: border-box;
}
.msportalfx-layoutChildren-horizontal-float::after {
  content: "\0000a0";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.msportalfx-bgcolor-themeMain {
  background-color: #00bcf2;
}
.msportalfx-bgcolor-themeWarning {
  background-color: #ff8c00;
}
.msportalfx-bgcolor-themeError {
  background-color: #ec008c;
}
.msportalfx-bgcolor-themeSuccess {
  background-color: #7fba00;
}
.msportalfx-bgcolor-paletteDiffAdd {
  background-color: #c7f1c7;
}
.msportalfx-bgcolor-paletteDiffDel {
  background-color: #fcd6f1;
}
.msportalfx-bgcolor-white {
  background-color: #fff;
}
.msportalfx-vertical-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.msportalfx-removeTableBorders {
  border-spacing: 0;
  border-collapse: collapse;
}
.msportalfx-boxsizing-borderbox {
  box-sizing: border-box;
}
.msportalfx-removeDefaultListStyle {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.msportalfx-removeDefaultListStyle > li {
  margin: 0;
  padding: 0;
}
.msportalfx-fill {
  height: 100%;
  width: 100%;
}
.msportalfx-clearfix::after {
  content: "\0000a0";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.fxs-tilesize-fittocontainer .msportalfx-overflowY,
.azc-graph-node-container .msportalfx-overflowY {
  overflow-x: hidden;
  overflow-y: auto;
}
.msportalfx-unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.msportalfx-removepartpadding {
  height: calc(100% + 15px + 15px);
  width: calc(100% + 14px + 15px);
  margin: -15px -15px -15px -14px;
}
.msportalfx-removepartpaddingside {
  width: calc(100% + 14px + 15px);
  margin: 0 -15px 0 -14px;
}
.fxs-blade-locked .msportalfx-removepartpadding {
  height: calc(100% + 15px);
  width: 100%;
  margin: 0 0 15px 0;
}
.fxs-blade-locked .msportalfx-removepartpaddingside {
  width: 100%;
  margin: 0;
}
.fxs-blade-locked .fxs-tilesize-fittocontainer .msportalfx-removepartpadding {
  height: 100%;
  width: 100%;
  margin: 0;
}
.msportalfx-partdivider:after {
  content: "";
  display: block;
  width: calc(100% + 15px + 15px);
  margin: 0 -15px 0 -15px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.msportalfx-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msportalfx-font-monospace {
  font-family: Consolas, "Courier New", monospace;
  font-size: 12px;
}
.msportalfx-text-header {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
a.msportalfx-text-header {
  cursor: pointer;
}
.msportalfx-text-header-small,
.msportalfx-text-label {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.msportalfx-text-small {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
}
.msportalfx-text-subheader {
  font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
}
html[lang^="ja"] .msportalfx-text-subheader,
html[lang^="ko"] .msportalfx-text-subheader,
html[lang^="zh"] .msportalfx-text-subheader {
  font-size: 11px;
}
.msportalfx-text-header-regular {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.msportalfx-text-regular {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.msportalfx-text-createsectionheader {
  font-family: az_ea_font, wf_segoe-ui_light, "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 20px;
  line-height: normal;
}
.msportalfx-number-jumbo {
  font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.02em;
}
.msportalfx-number-large {
  font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 43px;
  line-height: 43px;
  letter-spacing: -0.02em;
}
.msportalfx-number-medium {
  font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.025em;
}
.msportalfx-number-small {
  font-family: az_ea_font, wf_segoe-ui_semibold, "Segoe UI Semibold", "Segoe WP Semibold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  letter-spacing: -0.02em;
}
.msportalfx-number-jumbo-adorn {
  font-family: az_ea_font, wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.msportalfx-number-large-adorn {
  font-family: az_ea_font, wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
.msportalfx-number-medium-adorn {
  font-family: az_ea_font, wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02em;
}
.msportalfx-number-small-adorn {
  font-family: az_ea_font, wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.05em;
}
.msportalfx-code {
  font-family: Consolas, "Courier New", monospace;
  font-size: 12px;
  background-color: #f1f1f8;
  color: #32383f;
  border: 1px solid #dcdfe2;
  border-left: 5px solid #dcdfe2;
  padding: 10px 10px 10px 15px;
  margin: 5px 0;
  overflow-x: auto;
}
.msportalfx-lineheight-reset {
  line-height: normal;
}
.msportalfx-gettingstarted-part {
  color: #fff;
}
.msportalfx-gridcolumn-asseticon img,
.msportalfx-gridcolumn-asseticon svg {
  margin-top: 4px;
  height: 21px;
  width: 21px;
}
.msportalfx-gridcolumn-assetsvg-icon img,
.msportalfx-gridcolumn-assetsvg-icon svg {
  height: 21px;
  width: 21px;
  vertical-align: middle;
}
.msportalfx-gridcolumn-assetsvg-badge {
  margin-left: -21px;
  height: 21px;
  width: 21px;
  vertical-align: middle;
  display: inline-block;
}
.msportalfx-gridcolumn-assetsvg-badge img,
.msportalfx-gridcolumn-assetsvg-badge svg {
  height: 10px;
  width: 10px;
  margin-top: 11px;
}
.msportalfx-gridcolumn-assetsvg-text {
  margin-left: 10px;
  vertical-align: middle;
}
.msportalfx-gridcolumn-assetsvg-textbox {
  vertical-align: middle;
  display: inline-block;
  margin-left: 20px;
}
.msportalfx-gridcolumn-assetsvg-strongtext {
  vertical-align: middle;
  margin-left: 0;
}
.msportalfx-gridcolumn-statusicon {
  text-align: center;
}
.msportalfx-gridcolumn-statusicon img,
.msportalfx-gridcolumn-statusicon svg {
  text-align: center;
  height: 15px;
  width: 15px;
}
.msportalfx-gridcolumn-statusicon svg {
  margin-top: 4px;
}
.msportalfx-grid-borderless .azc-grid table tbody tr[role=row]:first-of-type td {
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: transparent;
}
.msportalfx-grid-borderless .azc-grid table tbody:last-child tr:last-child td {
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: transparent;
}
.msportalfx-grid-borderless .azc-grid table tbody tr td {
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: transparent;
}
.msportalfx-grid-borderless .azc-br-muted {
  border-top-width: 0;
  border-bottom-width: 0;
  border-color: transparent !important;
}
.msportalfx-customtopo-text-name-donotuse {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: normal;
}
.msportalfx-customtopo-text-description-donotuse {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 10px;
  line-height: normal;
  color: #8f9ca8;
}
.msportalfx-statuspart {
  position: relative;
  height: 100%;
  width: 100%;
}
.msportalfx-statuspart > * {
  box-sizing: border-box;
}
.msportalfx-statuspart .msportalfx-statuspart-statussection {
  height: calc(100% - 55px);
  padding-top: 10px;
}
.msportalfx-statuspart .msportalfx-statuspart-statussection > * {
  vertical-align: middle;
}
.msportalfx-statuspart .msportalfx-statuspart-statussection > img {
  height: 30px;
  width: 30px;
}
.msportalfx-statuspart .msportalfx-statuspart-statussection > span {
  font-family: az_ea_font, wf_segoe-ui_bold, "Segoe UI Bold", "Segoe WP Bold", "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msportalfx-statuspart .msportalfx-statuspart-messagesection {
  position: absolute;
  bottom: 55px;
  margin-bottom: 25px;
  height: 40px;
  line-height: 0;
  white-space: normal;
}
.msportalfx-statuspart .msportalfx-statuspart-messagesection > span {
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.msportalfx-statuspart .msportalfx-statuspart-propertysection,
.msportalfx-statuspart .msportalfx-statuspart-metricsection {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55px;
}
.msportalfx-statuspart .msportalfx-statuspart-propertysection {
  padding-top: 5px;
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.msportalfx-statuspart .msportalfx-statuspart-propertysection > span,
.msportalfx-statuspart .msportalfx-statuspart-propertysection > div {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.msportalfx-statuspart .msportalfx-statuspart-metricsection > div {
  float: left;
  width: calc(100% / 3 - 3px);
  box-sizing: border-box;
  border-right: 1px solid #8f9ca8;
  padding-left: 7px;
}
.msportalfx-statuspart .msportalfx-statuspart-metricsection > div:first-child {
  padding-left: 0;
}
.msportalfx-statuspart .msportalfx-statuspart-metricsection > div:last-child {
  border-right: none;
}
.msportalfx-statuspart .msportalfx-statuspart-metricsection .msportalfx-statuspart-metrictitle {
  white-space: normal;
  height: 30px;
  font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.msportalfx-bgcolor-a1 {
  background-color: #fcd116;
  color: #000000;
}
.msportalfx-bgcolor-b1 {
  background-color: #eb3c00;
  color: #ffffff;
}
.msportalfx-bgcolor-c1 {
  background-color: #ba141a;
  color: #ffffff;
}
.msportalfx-bgcolor-d1 {
  background-color: #b4009e;
  color: #ffffff;
}
.msportalfx-bgcolor-e1 {
  background-color: #442359;
  color: #ffffff;
}
.msportalfx-bgcolor-f1 {
  background-color: #002050;
  color: #ffffff;
}
.msportalfx-bgcolor-g1 {
  background-color: #0072c6;
  color: #ffffff;
}
.msportalfx-bgcolor-h1 {
  background-color: #008272;
  color: #ffffff;
}
.msportalfx-bgcolor-i1 {
  background-color: #007233;
  color: #ffffff;
}
.msportalfx-bgcolor-j1 {
  background-color: #7fba00;
  color: #ffffff;
}
.msportalfx-bgcolor-k1 {
  background-color: #a0a5a8;
  color: #ffffff;
}
.msportalfx-bgcolor-a0 {
  background-color: #fff100;
  color: #000000;
}
.msportalfx-bgcolor-b0 {
  background-color: #ff8c00;
  color: #ffffff;
}
.msportalfx-bgcolor-c0 {
  background-color: #e81123;
  color: #ffffff;
}
.msportalfx-bgcolor-d0 {
  background-color: #ec008c;
  color: #ffffff;
}
.msportalfx-bgcolor-e0 {
  background-color: #68217a;
  color: #ffffff;
}
.msportalfx-bgcolor-f0 {
  background-color: #00188f;
  color: #ffffff;
}
.msportalfx-bgcolor-g0 {
  background-color: #00bcf2;
  color: #ffffff;
}
.msportalfx-bgcolor-h0 {
  background-color: #00b294;
  color: #ffffff;
}
.msportalfx-bgcolor-i0 {
  background-color: #009e49;
  color: #ffffff;
}
.msportalfx-bgcolor-j0 {
  background-color: #bad80a;
  color: #000000;
}
.msportalfx-bgcolor-k0 {
  background-color: #bbc2ca;
  color: #000000;
}
.msportalfx-bgcolor-a2 {
  background-color: #fffc9e;
  color: #000000;
}
.msportalfx-bgcolor-b2 {
  background-color: #ffb900;
  color: #000000;
}
.msportalfx-bgcolor-c2 {
  background-color: #dd5900;
  color: #ffffff;
}
.msportalfx-bgcolor-d2 {
  background-color: #f472d0;
  color: #ffffff;
}
.msportalfx-bgcolor-e2 {
  background-color: #9b4f96;
  color: #ffffff;
}
.msportalfx-bgcolor-f2 {
  background-color: #4668c5;
  color: #ffffff;
}
.msportalfx-bgcolor-g2 {
  background-color: #6dc2e9;
  color: #000000;
}
.msportalfx-bgcolor-h2 {
  background-color: #00d8cc;
  color: #000000;
}
.msportalfx-bgcolor-i2 {
  background-color: #55d455;
  color: #000000;
}
.msportalfx-bgcolor-j2 {
  background-color: #e2e584;
  color: #000000;
}
.msportalfx-bgcolor-k2 {
  background-color: #d6d7d8;
  color: #000000;
}
.msportalfx-bgcolor-a0s2 {
  background-color: #807900;
  color: #ffffff;
}
.msportalfx-bgcolor-b0s2 {
  background-color: #804600;
  color: #ffffff;
}
.msportalfx-bgcolor-c0s2 {
  background-color: #740912;
  color: #ffffff;
}
.msportalfx-bgcolor-d0s2 {
  background-color: #760046;
  color: #ffffff;
}
.msportalfx-bgcolor-e0s2 {
  background-color: #34113d;
  color: #ffffff;
}
.msportalfx-bgcolor-f0s2 {
  background-color: #000c48;
  color: #ffffff;
}
.msportalfx-bgcolor-g0s2 {
  background-color: #005e79;
  color: #ffffff;
}
.msportalfx-bgcolor-h0s2 {
  background-color: #084c41;
  color: #ffffff;
}
.msportalfx-bgcolor-i0s2 {
  background-color: #063d20;
  color: #ffffff;
}
.msportalfx-bgcolor-j0s2 {
  background-color: #3d460a;
  color: #ffffff;
}
.msportalfx-bgcolor-k0s2 {
  background-color: #32383f;
  color: #ffffff;
}
.msportalfx-bgcolor-a0s1 {
  background-color: #bfb500;
  color: #000000;
}
.msportalfx-bgcolor-b0s1 {
  background-color: #bf6900;
  color: #ffffff;
}
.msportalfx-bgcolor-c0s1 {
  background-color: #ae0d1a;
  color: #ffffff;
}
.msportalfx-bgcolor-d0s1 {
  background-color: #b10069;
  color: #ffffff;
}
.msportalfx-bgcolor-e0s1 {
  background-color: #4e195c;
  color: #ffffff;
}
.msportalfx-bgcolor-f0s1 {
  background-color: #00126b;
  color: #ffffff;
}
.msportalfx-bgcolor-g0s1 {
  background-color: #008db5;
  color: #ffffff;
}
.msportalfx-bgcolor-h0s1 {
  background-color: #00856f;
  color: #ffffff;
}
.msportalfx-bgcolor-i0s1 {
  background-color: #0f5b2f;
  color: #ffffff;
}
.msportalfx-bgcolor-j0s1 {
  background-color: #8ba208;
  color: #ffffff;
}
.msportalfx-bgcolor-k0s1 {
  background-color: #464f59;
  color: #ffffff;
}
.msportalfx-bgcolor-a0t1 {
  background-color: #fcf37e;
  color: #000000;
}
.msportalfx-bgcolor-b0t1 {
  background-color: #ffba66;
  color: #000000;
}
.msportalfx-bgcolor-c0t1 {
  background-color: #f1707b;
  color: #ffffff;
}
.msportalfx-bgcolor-d0t1 {
  background-color: #f466ba;
  color: #ffffff;
}
.msportalfx-bgcolor-e0t1 {
  background-color: #a47aaf;
  color: #ffffff;
}
.msportalfx-bgcolor-f0t1 {
  background-color: #6674bc;
  color: #ffffff;
}
.msportalfx-bgcolor-g0t1 {
  background-color: #66d7f7;
  color: #000000;
}
.msportalfx-bgcolor-h0t1 {
  background-color: #66d1bf;
  color: #000000;
}
.msportalfx-bgcolor-i0t1 {
  background-color: #66c592;
  color: #000000;
}
.msportalfx-bgcolor-j0t1 {
  background-color: #d6e86c;
  color: #000000;
}
.msportalfx-bgcolor-k0t1 {
  background-color: #8f9ca8;
  color: #ffffff;
}
.msportalfx-bgcolor-a0t2 {
  background-color: #fffccc;
  color: #000000;
}
.msportalfx-bgcolor-b0t2 {
  background-color: #ffe8cc;
  color: #000000;
}
.msportalfx-bgcolor-c0t2 {
  background-color: #facfd3;
  color: #000000;
}
.msportalfx-bgcolor-d0t2 {
  background-color: #fbcce8;
  color: #000000;
}
.msportalfx-bgcolor-e0t2 {
  background-color: #e1d3e4;
  color: #000000;
}
.msportalfx-bgcolor-f0t2 {
  background-color: #ccd1e9;
  color: #000000;
}
.msportalfx-bgcolor-g0t2 {
  background-color: #ccf2fc;
  color: #000000;
}
.msportalfx-bgcolor-h0t2 {
  background-color: #ccf0ea;
  color: #000000;
}
.msportalfx-bgcolor-i0t2 {
  background-color: #ccecdb;
  color: #000000;
}
.msportalfx-bgcolor-j0t2 {
  background-color: #f0f7b2;
  color: #000000;
}
.msportalfx-bgcolor-k0t2 {
  background-color: #63707e;
  color: #ffffff;
}
.msportalfx-marketplace-search {
  position: relative;
}
.msportalfx-marketplace-search .ext-gallery-search-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  opacity: 0.3;
  top: 28px;
  left: 32px;
  z-index: 1;
  transform: scalex(-1);
  pointer-events: none;
}
.msportalfx-marketplace-search .azc-input.azc-formControl {
  padding-left: 27px !important;
}
.msportalfx-marketplace-search .azc-editableCombo-drop-image {
  display: none !important;
}
.msportalfx-marketplace-search .azc-grid table tbody tr[role=row]:first-of-type td,
.msportalfx-marketplace-search .azc-grid table tbody:last-child tr:last-child td,
.msportalfx-marketplace-search .azc-grid table tbody tr td {
  border-bottom-width: 0;
}
.msportalfx-marketplace-search .azc-editableCombo-wrapper {
  margin-left: 3px !important;
  width: calc(100% - 3px) !important;
}
