%svg-common {
	background: url("img/sprite.svg") no-repeat;
}

.svg-Business-glossary-term {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-Business-glossary-term-dims {
	width: 26px;
	height: 26px;
}

.svg-activity-window {
	@extend %svg-common;
	background-position: 0.7624633431085044% 0.7765830346475507%;
}

.svg-activity-window-dims {
	width: 26px;
	height: 26px;
}

.svg-add-all {
	@extend %svg-common;
	background-position: 1.5249266862170088% 1.5531660692951015%;
}

.svg-add-all-dims {
	width: 26px;
	height: 26px;
}

.svg-alerts {
	@extend %svg-common;
	background-position: 2.2873900293255134% 2.3297491039426523%;
}

.svg-alerts-dims {
	width: 26px;
	height: 26px;
}

.svg-analyze {
	@extend %svg-common;
	background-position: 3.0498533724340176% 3.106332138590203%;
}

.svg-analyze-dims {
	width: 26px;
	height: 26px;
}

.svg-arrow-down {
	@extend %svg-common;
	background-position: 3.812316715542522% 3.882915173237754%;
}

.svg-arrow-down-dims {
	width: 26px;
	height: 26px;
}

.svg-arrow-left {
	@extend %svg-common;
	background-position: 4.574780058651027% 4.659498207885305%;
}

.svg-arrow-left-dims {
	width: 26px;
	height: 26px;
}

.svg-arrow-right {
	@extend %svg-common;
	background-position: 5.3372434017595305% 5.436081242532856%;
}

.svg-arrow-right-dims {
	width: 26px;
	height: 26px;
}

.svg-arrow-up {
	@extend %svg-common;
	background-position: 6.099706744868035% 6.212664277180406%;
}

.svg-arrow-up-dims {
	width: 26px;
	height: 26px;
}

.svg-arrows-up-down {
	@extend %svg-common;
	background-position: 6.86217008797654% 6.989247311827957%;
}

.svg-arrows-up-down-dims {
	width: 26px;
	height: 26px;
}

.svg-auto-align {
	@extend %svg-common;
	background-position: 7.624633431085044% 7.765830346475508%;
}

.svg-auto-align-dims {
	width: 26px;
	height: 26px;
}

.svg-auto-layout {
	@extend %svg-common;
	background-position: 8.387096774193548% 8.542413381123058%;
}

.svg-auto-layout-dims {
	width: 26px;
	height: 26px;
}

.svg-back {
	@extend %svg-common;
	background-position: 9.149560117302054% 9.31899641577061%;
}

.svg-back-dims {
	width: 26px;
	height: 26px;
}

.svg-business-glossary {
	@extend %svg-common;
	background-position: 9.912023460410557% 10.09557945041816%;
}

.svg-business-glossary-dims {
	width: 26px;
	height: 26px;
}

.svg-calendar {
	@extend %svg-common;
	background-position: 10.674486803519061% 10.872162485065711%;
}

.svg-calendar-dims {
	width: 26px;
	height: 26px;
}

.svg-cancel {
	@extend %svg-common;
	background-position: 11.436950146627566% 11.64874551971326%;
}

.svg-cancel-dims {
	width: 26px;
	height: 26px;
}

.svg-card-view {
	@extend %svg-common;
	background-position: 12.19941348973607% 12.425328554360812%;
}

.svg-card-view-dims {
	width: 26px;
	height: 26px;
}

.svg-caret-down {
	@extend %svg-common;
	background-position: 12.946690099589924% 13.186157517899762%;
}

.svg-caret-down-dims {
	width: 22px;
	height: 22px;
}

.svg-caret-downright {
	@extend %svg-common;
	background-position: 13.591095489162273% 13.842482100238664%;
}

.svg-caret-downright-dims {
	width: 22px;
	height: 22px;
}

.svg-caret-left {
	@extend %svg-common;
	background-position: 14.235500878734623% 14.498806682577566%;
}

.svg-caret-left-dims {
	width: 22px;
	height: 22px;
}

.svg-caret-right {
	@extend %svg-common;
	background-position: 14.879906268306971% 15.155131264916468%;
}

.svg-caret-right-dims {
	width: 22px;
	height: 22px;
}

.svg-caution {
	@extend %svg-common;
	background-position: 15.542521994134898% 15.830346475507765%;
}

.svg-caution-dims {
	width: 26px;
	height: 26px;
}

.svg-chart {
	@extend %svg-common;
	background-position: 16.3049853372434% 16.606929510155318%;
}

.svg-chart-dims {
	width: 26px;
	height: 26px;
}

.svg-checkbox {
	@extend %svg-common;
	background-position: 17.067448680351905% 17.38351254480287%;
}

.svg-checkbox-dims {
	width: 26px;
	height: 26px;
}

.svg-checkboxcomposite {
	@extend %svg-common;
	background-position: 17.82991202346041% 18.160095579450417%;
}

.svg-checkboxcomposite-dims {
	width: 26px;
	height: 26px;
}

.svg-checkboxindeterminate {
	@extend %svg-common;
	background-position: 18.592375366568916% 18.936678614097968%;
}

.svg-checkboxindeterminate-dims {
	width: 26px;
	height: 26px;
}

.svg-checkmark {
	@extend %svg-common;
	background-position: 19.35483870967742% 19.71326164874552%;
}

.svg-checkmark-dims {
	width: 26px;
	height: 26px;
}

.svg-chevron-down {
	@extend %svg-common;
	background-position: 20.117302052785924% 20.48984468339307%;
}

.svg-chevron-down-dims {
	width: 26px;
	height: 26px;
}

.svg-chevron-left {
	@extend %svg-common;
	background-position: 20.879765395894427% 21.26642771804062%;
}

.svg-chevron-left-dims {
	width: 26px;
	height: 26px;
}

.svg-chevron-right {
	@extend %svg-common;
	background-position: 21.64222873900293% 22.043010752688172%;
}

.svg-chevron-right-dims {
	width: 26px;
	height: 26px;
}

.svg-chevron-up {
	@extend %svg-common;
	background-position: 22.40469208211144% 22.819593787335723%;
}

.svg-chevron-up-dims {
	width: 26px;
	height: 26px;
}

.svg-circle {
	@extend %svg-common;
	background-position: 23.167155425219942% 23.596176821983274%;
}

.svg-circle-dims {
	width: 26px;
	height: 26px;
}

.svg-circlefill {
	@extend %svg-common;
	background-position: 23.929618768328446% 24.372759856630825%;
}

.svg-circlefill-dims {
	width: 26px;
	height: 26px;
}

.svg-close {
	@extend %svg-common;
	background-position: 24.69208211143695% 25.149342891278376%;
}

.svg-close-dims {
	width: 26px;
	height: 26px;
}

.svg-col-type-boolean {
	@extend %svg-common;
	background-position: 25.454545454545453% 25.925925925925927%;
}

.svg-col-type-boolean-dims {
	width: 26px;
	height: 26px;
}

.svg-col-type-number {
	@extend %svg-common;
	background-position: 26.21700879765396% 26.70250896057348%;
}

.svg-col-type-number-dims {
	width: 26px;
	height: 26px;
}

.svg-col-type-string {
	@extend %svg-common;
	background-position: 26.979472140762464% 27.479091995221026%;
}

.svg-col-type-string-dims {
	width: 26px;
	height: 26px;
}

.svg-col-type-timedate {
	@extend %svg-common;
	background-position: 27.741935483870968% 28.255675029868577%;
}

.svg-col-type-timedate-dims {
	width: 26px;
	height: 26px;
}

.svg-connect {
	@extend %svg-common;
	background-position: 28.50439882697947% 29.032258064516128%;
}

.svg-connect-dims {
	width: 26px;
	height: 26px;
}

.svg-copy {
	@extend %svg-common;
	background-position: 29.266862170087975% 29.80884109916368%;
}

.svg-copy-dims {
	width: 26px;
	height: 26px;
}

.svg-dashboard {
	@extend %svg-common;
	background-position: 30.029325513196483% 30.58542413381123%;
}

.svg-dashboard-dims {
	width: 26px;
	height: 26px;
}

.svg-data-catalog {
	@extend %svg-common;
	background-position: 30.791788856304986% 31.36200716845878%;
}

.svg-data-catalog-dims {
	width: 26px;
	height: 26px;
}

.svg-data-preview {
	@extend %svg-common;
	background-position: 31.55425219941349% 32.13859020310633%;
}

.svg-data-preview-dims {
	width: 26px;
	height: 26px;
}

.svg-data-profile {
	@extend %svg-common;
	background-position: 32.316715542522% 32.91517323775388%;
}

.svg-data-profile-dims {
	width: 26px;
	height: 26px;
}

.svg-database {
	@extend %svg-common;
	background-position: 33.0791788856305% 33.691756272401435%;
}

.svg-database-dims {
	width: 26px;
	height: 26px;
}

.svg-delete {
	@extend %svg-common;
	background-position: 33.841642228739005% 34.468339307048986%;
}

.svg-delete-dims {
	width: 26px;
	height: 26px;
}

.svg-dimension {
	@extend %svg-common;
	background-position: 34.604105571847505% 35.24492234169654%;
}

.svg-dimension-dims {
	width: 26px;
	height: 26px;
}

.svg-directory {
	@extend %svg-common;
	background-position: 35.36656891495601% 36.02150537634409%;
}

.svg-directory-dims {
	width: 26px;
	height: 26px;
}

.svg-documentation {
	@extend %svg-common;
	background-position: 36.12903225806452% 36.79808841099164%;
}

.svg-documentation-dims {
	width: 26px;
	height: 26px;
}

.svg-download {
	@extend %svg-common;
	background-position: 36.89149560117302% 37.57467144563919%;
}

.svg-download-dims {
	width: 26px;
	height: 26px;
}

.svg-edit {
	@extend %svg-common;
	background-position: 37.65395894428153% 38.35125448028674%;
}

.svg-edit-dims {
	width: 26px;
	height: 26px;
}

.svg-error {
	@extend %svg-common;
	background-position: 38.41642228739003% 39.12783751493429%;
}

.svg-error-dims {
	width: 26px;
	height: 26px;
}

.svg-file {
	@extend %svg-common;
	background-position: 39.178885630498534% 39.90442054958184%;
}

.svg-file-dims {
	width: 26px;
	height: 26px;
}

.svg-filter {
	@extend %svg-common;
	background-position: 39.941348973607035% 40.681003584229394%;
}

.svg-filter-dims {
	width: 26px;
	height: 26px;
}

.svg-filter-clear-all {
	@extend %svg-common;
	background-position: 40.70381231671554% 41.45758661887694%;
}

.svg-filter-clear-all-dims {
	width: 26px;
	height: 26px;
}

.svg-fit-to-100 {
	@extend %svg-common;
	background-position: 41.46627565982405% 42.23416965352449%;
}

.svg-fit-to-100-dims {
	width: 26px;
	height: 26px;
}

.svg-folder {
	@extend %svg-common;
	background-position: 42.22873900293255% 43.01075268817204%;
}

.svg-folder-dims {
	width: 26px;
	height: 26px;
}

.svg-folder_open {
	@extend %svg-common;
	background-position: 42.99120234604106% 43.78733572281959%;
}

.svg-folder_open-dims {
	width: 26px;
	height: 26px;
}

.svg-gripper {
	@extend %svg-common;
	background-position: 43.75366568914956% 44.56391875746714%;
}

.svg-gripper-dims {
	width: 26px;
	height: 26px;
}

.svg-hd-insight {
	@extend %svg-common;
	background-position: 44.725987035945785% 45.55822328931573%;
}

.svg-hd-insight-dims {
	width: 42px;
	height: 42px;
}

.svg-help {
	@extend %svg-common;
	background-position: 45.747800586510266% 46.59498207885304%;
}

.svg-help-dims {
	width: 26px;
	height: 26px;
}

.svg-home {
	@extend %svg-common;
	background-position: 46.510263929618766% 47.371565113500594%;
}

.svg-home-dims {
	width: 26px;
	height: 26px;
}

.svg-horizontal-bar {
	@extend %svg-common;
	background-position: 47.27272727272727% 47.947650208209396%;
}

.svg-horizontal-bar-dims {
	width: 26px;
	height: 12px;
}

.svg-inactive {
	@extend %svg-common;
	background-position: 48.03519061583578% 48.50657108721625%;
}

.svg-inactive-dims {
	width: 26px;
	height: 26px;
}

.svg-input {
	@extend %svg-common;
	background-position: 48.79765395894428% 49.2831541218638%;
}

.svg-input-dims {
	width: 26px;
	height: 26px;
}

.svg-kpi {
	@extend %svg-common;
	background-position: 49.56011730205279% 50.05973715651135%;
}

.svg-kpi-dims {
	width: 26px;
	height: 26px;
}

.svg-link {
	@extend %svg-common;
	background-position: 50.32258064516129% 50.8363201911589%;
}

.svg-link-dims {
	width: 26px;
	height: 26px;
}

.svg-list-view {
	@extend %svg-common;
	background-position: 51.085043988269796% 51.61290322580645%;
}

.svg-list-view-dims {
	width: 26px;
	height: 26px;
}

.svg-lock {
	@extend %svg-common;
	background-position: 51.847507331378296% 52.389486260454%;
}

.svg-lock-dims {
	width: 26px;
	height: 26px;
}

.svg-logs {
	@extend %svg-common;
	background-position: 52.6099706744868% 53.16606929510155%;
}

.svg-logs-dims {
	width: 26px;
	height: 26px;
}

.svg-maximize-window {
	@extend %svg-common;
	background-position: 53.37243401759531% 53.9426523297491%;
}

.svg-maximize-window-dims {
	width: 26px;
	height: 26px;
}

.svg-measure {
	@extend %svg-common;
	background-position: 54.13489736070381% 54.71923536439665%;
}

.svg-measure-dims {
	width: 26px;
	height: 26px;
}

.svg-minimize-window {
	@extend %svg-common;
	background-position: 54.89736070381232% 55.495818399044204%;
}

.svg-minimize-window-dims {
	width: 26px;
	height: 26px;
}

.svg-minus {
	@extend %svg-common;
	background-position: 55.65982404692082% 56.272401433691755%;
}

.svg-minus-dims {
	width: 26px;
	height: 26px;
}

.svg-minus-all-objects {
	@extend %svg-common;
	background-position: 56.422287390029325% 57.048984468339306%;
}

.svg-minus-all-objects-dims {
	width: 26px;
	height: 26px;
}

.svg-monitor_views {
	@extend %svg-common;
	background-position: 57.18475073313783% 57.82556750298686%;
}

.svg-monitor_views-dims {
	width: 26px;
	height: 26px;
}

.svg-more-info {
	@extend %svg-common;
	background-position: 57.94721407624633% 58.60215053763441%;
}

.svg-more-info-dims {
	width: 26px;
	height: 26px;
}

.svg-new-glossary-admin {
	@extend %svg-common;
	background-position: 58.70967741935484% 59.37873357228196%;
}

.svg-new-glossary-admin-dims {
	width: 26px;
	height: 26px;
}

.svg-new-search-relevance {
	@extend %svg-common;
	background-position: 59.47214076246334% 60.15531660692951%;
}

.svg-new-search-relevance-dims {
	width: 26px;
	height: 26px;
}

.svg-new-window {
	@extend %svg-common;
	background-position: 60.23460410557185% 60.93189964157706%;
}

.svg-new-window-dims {
	width: 26px;
	height: 26px;
}

.svg-notification {
	@extend %svg-common;
	background-position: 60.997067448680355% 61.70848267622461%;
}

.svg-notification-dims {
	width: 26px;
	height: 26px;
}

.svg-notifications {
	@extend %svg-common;
	background-position: 61.759530791788855% 62.48506571087216%;
}

.svg-notifications-dims {
	width: 26px;
	height: 26px;
}

.svg-output {
	@extend %svg-common;
	background-position: 62.52199413489736% 63.261648745519715%;
}

.svg-output-dims {
	width: 26px;
	height: 26px;
}

.svg-pin-off {
	@extend %svg-common;
	background-position: 63.28445747800586% 64.03823178016727%;
}

.svg-pin-off-dims {
	width: 26px;
	height: 26px;
}

.svg-pin-on {
	@extend %svg-common;
	background-position: 64.04692082111437% 64.81481481481481%;
}

.svg-pin-on-dims {
	width: 26px;
	height: 26px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 64.80938416422288% 65.59139784946237%;
}

.svg-plus-dims {
	width: 26px;
	height: 26px;
}

.svg-profile {
	@extend %svg-common;
	background-position: 65.57184750733138% 66.36798088410991%;
}

.svg-profile-dims {
	width: 26px;
	height: 26px;
}

.svg-publish {
	@extend %svg-common;
	background-position: 66.33431085043988% 67.14456391875747%;
}

.svg-publish-dims {
	width: 26px;
	height: 26px;
}

.svg-query {
	@extend %svg-common;
	background-position: 67.09677419354838% 67.92114695340501%;
}

.svg-query-dims {
	width: 26px;
	height: 26px;
}

.svg-refine {
	@extend %svg-common;
	background-position: 67.85923753665689% 68.69772998805257%;
}

.svg-refine-dims {
	width: 26px;
	height: 26px;
}

.svg-refresh {
	@extend %svg-common;
	background-position: 68.6217008797654% 69.47431302270012%;
}

.svg-refresh-dims {
	width: 26px;
	height: 26px;
}

.svg-report {
	@extend %svg-common;
	background-position: 69.3841642228739% 70.25089605734767%;
}

.svg-report-dims {
	width: 26px;
	height: 26px;
}

.svg-resource-explorer {
	@extend %svg-common;
	background-position: 70.1466275659824% 71.02747909199522%;
}

.svg-resource-explorer-dims {
	width: 26px;
	height: 26px;
}

.svg-restore-window {
	@extend %svg-common;
	background-position: 70.9090909090909% 71.80406212664278%;
}

.svg-restore-window-dims {
	width: 26px;
	height: 26px;
}

.svg-sad {
	@extend %svg-common;
	background-position: 71.67155425219941% 72.58064516129032%;
}

.svg-sad-dims {
	width: 26px;
	height: 26px;
}

.svg-save {
	@extend %svg-common;
	background-position: 72.43401759530792% 73.35722819593788%;
}

.svg-save-dims {
	width: 26px;
	height: 26px;
}

.svg-schema {
	@extend %svg-common;
	background-position: 73.19648093841643% 74.13381123058542%;
}

.svg-schema-dims {
	width: 26px;
	height: 26px;
}

.svg-script {
	@extend %svg-common;
	background-position: 73.95894428152492% 74.91039426523298%;
}

.svg-script-dims {
	width: 26px;
	height: 26px;
}

.svg-search {
	@extend %svg-common;
	background-position: 74.72140762463343% 75.68697729988052%;
}

.svg-search-dims {
	width: 26px;
	height: 26px;
}

.svg-settings {
	@extend %svg-common;
	background-position: 75.48387096774194% 76.46356033452808%;
}

.svg-settings-dims {
	width: 26px;
	height: 26px;
}

.svg-share {
	@extend %svg-common;
	background-position: 76.24633431085044% 77.24014336917563%;
}

.svg-share-dims {
	width: 26px;
	height: 26px;
}

.svg-shrink {
	@extend %svg-common;
	background-position: 77.00879765395895% 78.01672640382318%;
}

.svg-shrink-dims {
	width: 26px;
	height: 26px;
}

.svg-skip {
	@extend %svg-common;
	background-position: 77.77126099706744% 78.79330943847073%;
}

.svg-skip-dims {
	width: 26px;
	height: 26px;
}

.svg-smiley {
	@extend %svg-common;
	background-position: 78.53372434017595% 79.56989247311827%;
}

.svg-smiley-dims {
	width: 26px;
	height: 26px;
}

.svg-sort-ascending {
	@extend %svg-common;
	background-position: 79.29618768328446% 80.34647550776583%;
}

.svg-sort-ascending-dims {
	width: 26px;
	height: 26px;
}

.svg-sort-descending {
	@extend %svg-common;
	background-position: 80.05865102639297% 81.12305854241337%;
}

.svg-sort-descending-dims {
	width: 26px;
	height: 26px;
}

.svg-star {
	@extend %svg-common;
	background-position: 80.82111436950147% 81.89964157706093%;
}

.svg-star-dims {
	width: 26px;
	height: 26px;
}

.svg-status-critical {
	@extend %svg-common;
	background-position: 81.58357771260997% 82.67622461170848%;
}

.svg-status-critical-dims {
	width: 26px;
	height: 26px;
}

.svg-status-fail {
	@extend %svg-common;
	background-position: 82.34604105571847% 83.45280764635604%;
}

.svg-status-fail-dims {
	width: 26px;
	height: 26px;
}

.svg-status-none {
	@extend %svg-common;
	background-position: 83.10850439882698% 84.22939068100358%;
}

.svg-status-none-dims {
	width: 26px;
	height: 26px;
}

.svg-status-success {
	@extend %svg-common;
	background-position: 83.87096774193549% 85.00597371565114%;
}

.svg-status-success-dims {
	width: 26px;
	height: 26px;
}

.svg-status-warning {
	@extend %svg-common;
	background-position: 84.633431085044% 85.78255675029868%;
}

.svg-status-warning-dims {
	width: 26px;
	height: 26px;
}

.svg-status_inprogress {
	@extend %svg-common;
	background-position: 85.39589442815249% 86.55913978494624%;
}

.svg-status_inprogress-dims {
	width: 26px;
	height: 26px;
}

.svg-stream-set {
	@extend %svg-common;
	background-position: 86.158357771261% 87.33572281959378%;
}

.svg-stream-set-dims {
	width: 26px;
	height: 26px;
}

.svg-success-check {
	@extend %svg-common;
	background-position: 86.9208211143695% 88.11230585424134%;
}

.svg-success-check-dims {
	width: 26px;
	height: 26px;
}

.svg-table {
	@extend %svg-common;
	background-position: 87.68328445747801% 88.88888888888889%;
}

.svg-table-dims {
	width: 26px;
	height: 26px;
}

.svg-table-function {
	@extend %svg-common;
	background-position: 88.44574780058652% 89.66547192353644%;
}

.svg-table-function-dims {
	width: 26px;
	height: 26px;
}

.svg-table-view {
	@extend %svg-common;
	background-position: 89.20821114369501% 90.44205495818399%;
}

.svg-table-view-dims {
	width: 26px;
	height: 26px;
}

.svg-tag {
	@extend %svg-common;
	background-position: 89.97067448680352% 91.21863799283155%;
}

.svg-tag-dims {
	width: 26px;
	height: 26px;
}

.svg-toggle-off {
	@extend %svg-common;
	background-position: 91.4843287995269% 92.10526315789474%;
}

.svg-toggle-off-dims {
	width: 54px;
	height: 30px;
}

.svg-toggle-on {
	@extend %svg-common;
	background-position: 93.08101714961562% 93.00239234449761%;
}

.svg-toggle-on-dims {
	width: 54px;
	height: 30px;
}

.svg-toolbox {
	@extend %svg-common;
	background-position: 93.90029325513197% 93.78733572281959%;
}

.svg-toolbox-dims {
	width: 26px;
	height: 26px;
}

.svg-undo {
	@extend %svg-common;
	background-position: 94.66275659824046% 94.56391875746715%;
}

.svg-undo-dims {
	width: 26px;
	height: 26px;
}

.svg-unlock {
	@extend %svg-common;
	background-position: 95.42521994134897% 95.3405017921147%;
}

.svg-unlock-dims {
	width: 26px;
	height: 26px;
}

.svg-views {
	@extend %svg-common;
	background-position: 96.18768328445748% 96.11708482676225%;
}

.svg-views-dims {
	width: 26px;
	height: 26px;
}

.svg-waiting {
	@extend %svg-common;
	background-position: 96.95014662756599% 96.8936678614098%;
}

.svg-waiting-dims {
	width: 26px;
	height: 26px;
}

.svg-web {
	@extend %svg-common;
	background-position: 97.71260997067449% 97.67025089605735%;
}

.svg-web-dims {
	width: 26px;
	height: 26px;
}

.svg-zoom-in {
	@extend %svg-common;
	background-position: 98.47507331378299% 98.4468339307049%;
}

.svg-zoom-in-dims {
	width: 26px;
	height: 26px;
}

.svg-zoom-out {
	@extend %svg-common;
	background-position: 99.23753665689149% 99.22341696535246%;
}

.svg-zoom-out-dims {
	width: 26px;
	height: 26px;
}

.svg-zoom-to-fit {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-zoom-to-fit-dims {
	width: 26px;
	height: 26px;
}

