/* Font Size */

$fontSizeS: 12px;
$fontSizeM: 14px;
$fontSizeL: 17px;
$fontSizeXL: 21px;
$fontSizeXXL: 28px;
$fontSizeSuper: 42px;

/* Font Weight */

$fontWeightR: normal;
$fontWeightL: light;
$fontWeightSL: semilight;
$fontWeightSB: semibold;


