@import "../../stylesheets/main";

.noResultsWrapper{
    height: $heatmapHeight;
    border-top: $cardBoarder;
    border-left: $cardBoarder;
    margin-left: 180px;
    background: white;

    div{
        padding: 24px;
    }
}