/* 
    DEPRECATED - Do not use
    All Data Studio color constants have been moved to the partial file DataStudio\src\stylesheets\DataStudio\_colors.scss
    This file remains only to support any existing dependencies.

    TODO (stpryor): Remove all dependencies on this file then remove it.
*/

$accentColor: #03b092;
$atlasDarkTeal: #008272;
$atlasDarkTealHover: #005E50;
$atlasGreenColor: #00B294;
$atlasTeal: #00B294;
$blueColor: #00BCF2;
$boldFont: 'Segoe UI Semibold';
$canvas: #E6e6e6;
$canvasColor: #E6e6e6;
$canvasToolbarColor: rgba(230, 230, 230, .3);
$charcoalColor: #343A41;
$cloud: #D2D4D8;
$cloudColor: #D2D4D8;
$darkBlue: #0099BC;
$darkBlueColor: #0099BC;
$darkChar: #2C3137;
$darkCharColor: #2C3137;
$darkCloud: rgb(189,191,194);
$darkCloudColor: rgb(189,191,194);
$darkestGray: #2C3137;
$darkGray: #585A5F;
$darkGreenColor: #498205;
$darkSlateColor: #48525E;
$errorRed: #C73537;
$grayColor: #808387;
$grayLightColor: #ABADAF;
$grayLightestColor: #D5D6D7;
$lightCanvasColor: #F2F2F2;
$regularFont: 'Segoe UI';
$successGreen: #73B600;
$whiteColor: #FFFFFF;