<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:ClientId" value="16f9b8e9-d20b-45a1-ab9e-db2e8254508b" />
    <add key="ida:AADInstance" value="https://login.windows.net/" />
    <!--<add key="ida:TenantId" value="common"/> --><!--PPE-->
    <add key="ida:TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47" /> <!--PROD-->
    <add key="ida:ResourceName" value="https://management.core.windows.net/" />
    <add key="ida:RedirectUri" value="http://atlasstudio.azurewebsites.net/" />
    <add key="ida:PostLogoutRedirectUri" value="http://atlasstudio.azurewebsites.net/" />
    <add key="ida:certName" value="azurewebsiteCert" />
    <add key="ida:AuthErrorUrl" value="/Error " />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <runtime>
  
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
       <dependentAssembly>
  
          <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
       </dependentAssembly>
  
       <dependentAssembly>
  
          <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
  
          <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
  
       </dependentAssembly>
  
    </assemblyBinding>
  </runtime>
</configuration>