<div id="About" class="wrapperDiv">
    <div id="about1" class="page">
        <!--<h2 class="title-bar maintitlebar"><div></div><span class="subtitle"><a name="#">About</a></span></h2>-->
        <div class="contentSEC">
             <p>This style library reflects the patterns and components in the Cortana Intelligence. These patterns and components provide a unified language and consistent look and feel when designing experiences within the Cortana Intelligence Studio.</p>
             <p>This design guide is a living document with space for flexibility as we continuously revise and expand the needs for our product.</p>
             <p>If you have any questions about the design guidelines, please contact the [emailaddy@microosft.com].</p>
        </div>
    </div>
</div>

